<!DOCTYPE html>
<html>
<head>
    <title>Minecraft Stats</title>
    <style>
        body { font-family: sans-serif; background: #1e1e1e; color: white; text-align: center; padding-top: 50px; }
        .count { font-size: 48px; color: #55ff55; }
        .k1{
            color: red;
        }
        .ll{
            color: orange;
            border-style: solid;
            width: 500px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 50px;
            bordr-width: 10px;
            border-radius: 10px;
            background--color: gray;
        }
    </style>
</head>
<body>
    <h1>Сервер: {{ server }}</h1>
    <p>Сейчас в сети:</p>
    <div class="count">{{count}}</div> <br/>
    <p>игроков</p>
        <div class="k1">Created example by Anteyku</div>
        <div class="ll">
             {{ j4 }}
        </div>
</body>
</html>